.container {
    text-align: center;
}

.coffee-menu {
    margin-bottom: 20px;
}

.coffee-image {
    width: 150px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.more-info {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.cart {
    float: right;
    width: 200px;
    height: 200px;
    background-color: lightgray;
    overflow-y: auto;
}

.dark-theme {
    color: white;
    background-color: #333;
}
